{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}
  Login_Janken
{% endblock title %}
  

{% block comment %}
<h1>Login</h1>
<div class="comment-box mt-3">
  <small>
    ログインすると"Response"の作成や"Like", "対戦履歴"が記録されるようになります！<br>
    "Response"とはじゃんけん後の結果画面のことです。作成するとみんなのじゃんけんのときにでてくるかも！？
  </small>
  <a href="{% url 'accounts:signup' %}" class="btn btn-primary btn-sm mt-3">新規登録</a>
</div>
{% endblock comment %}


{% block content %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}
  <button type="submit" class="btn btn-primary">ログイン</button>
</form>
{% endblock content %}
  