.text-hack {
    font-family: "hack", "メイリオ", sans-serif;
  }
h1 {
    font-family: "hack", "メイリオ", sans-serif;    
}
// opacity設定
.opacity-0 {
    opacity: 0; }
  
.opacity-10 {
    opacity: 0.1; }

.opacity-20 {
    opacity: 0.2; }

.opacity-30 {
    opacity: 0.3; }

.opacity-40 {
    opacity: 0.4; }

.opacity-50 {
    opacity: 0.5; }

.opacity-60 {
    opacity: 0.6; }

.opacity-70 {
    opacity: 0.7; }

.opacity-80 {
    opacity: 0.8; }

.opacity-90 {
    opacity: 0.9; }

.opacity-100 {
    opacity: 1; }
    
// コメントボックス
.comment-box {
    background-color: rgba(255, 255, 255, 0.767);
    border-radius: 1rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
    padding: 0.75rem;
}
// imgのサイズ指定
.img-box {
    max-width: 80%;
}

// Like button


// RESPONSEのアニメーション
.response {
    animation: 1.5s ease-out slidein;
    @keyframes slidein {
        0%{transform: translateX(100%);}
        100%{transform:none;}
    }
}

// じゃんけんボタンのデザイン
@mixin janken-button($color) {
    color: $color;
}

.button-rock {
    @include janken-button(skyblue)
}

.button-peace {
    @include janken-button(skyblue)
}

.button-paper {
    @include janken-button(skyblue)
}


@media (min-width: 600px) {
    // imgのサイズ指定
    .img-box {
        max-width: 400px;
    }
}