{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block extra_css %}
{% endblock extra_css %}


{% block title %}
Janken
{% endblock title %}


{% block comment %}
<div class="d-flex justify-content-center align-items-end">
  <button type="button" class="fas fa-hand-rock btn btn-outline-dark fa-3x active "></button>
  <i class="fas fa-smile fa-8x ml-3"></i>
</div>
<div class="comment-box mt-3">
  たかがじゃんけんそう思ってないですか
</div>
{% endblock comment %}


{% block content %}
{# loginユーザーのときPOST #}
{% if user.is_authenticated %}
<form action="{% url 'janken:match' %}" method="post">
  {% csrf_token %}
  <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
    <label class="btn btn-outline-primary fas fa-hand-rock fa-3x active">
      <input type="radio" name="user_hand" autocomplete="off" value=0 checked>
    </label>
    <label class="btn btn-outline-primary fas fa-hand-peace fa-3x">
      <input type="radio" name="user_hand" autocomplete="off" value=1>
    </label>
    <label class="btn btn-outline-primary fas fa-hand-paper fa-3x">
      <input type="radio" name="user_hand" autocomplete="off" value=2></label>
  </div>
  <div class="text-center mt-3">
    <button type="submit" class="btn btn-sm btn-primary rounded-pill p-2">Janken Pon!</button>
  </div>
</form>

{# guestユーザーのときGET #}
{% else %}
<form action="{% url 'janken:match' %}" method="get">
  <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
    <label class="btn btn-outline-primary fas fa-hand-rock fa-3x active">
      <input type="radio" name="user_hand" autocomplete="off" value=0 checked>
    </label>
    <label class="btn btn-outline-primary fas fa-hand-peace fa-3x">
      <input type="radio" name="user_hand" autocomplete="off" value=1>
    </label>
    <label class="btn btn-outline-primary fas fa-hand-paper fa-3x">
      <input type="radio" name="user_hand" autocomplete="off" value=2></label>
  </div>
  <div class="text-center mt-3">
    <button type="submit" class="btn btn-sm btn-primary rounded-pill p-2">Janken Pon!</button>
  </div>
</form>
{% endif %}
{% endblock content %}