{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block extra_css %}
<style>

</style>
{% endblock extra_css %}


{% block title %}
Response Comfirm_Janken
{% endblock title %}


{% block comment %}
<h1>こちらを削除してもよろしいですか?</h1>
<div class="d-flex justify-content-center align-items-end">
  <button type="button" class="fas fa-hand-rock btn btn-outline-dark fa-3x active "></button>
  <img src="{{response.image_link}}" class="img-box rounded">
</div>
<div class="comment-box mt-3">
  {{response.text|linebreaksbr}}
</div>
<button type="button" class="btn btn-success mt-2 rounded-pill">Like {{ response.like_num }}</button>
{% endblock comment %}


{% block content %}
<div class="d-flex">
  <button type="button" name="user_hand" value=0
    class="fas fa-hand-rock fa-3x btn btn-outline-primary flex-fill disabled"></button>
  <button type="button" name="user_hand" value=1
    class="fas fa-hand-peace fa-3x btn btn-outline-primary flex-fill disabled"></button>
  <button type="button" name="user_hand" value=2
    class="fas fa-hand-paper fa-3x btn btn-outline-primary flex-fill disabled"></button>
</div>
<p class="text-right">
  {% if  response.created_at < response.updated_at %}
  <small class="text-muted">更新 {{ response.updated_at|naturaltime }}, </small>
  {% endif %}
  <small class="text-muted">作成 {{ response.created_at|naturaltime }}</small>
</p>
<div class="text-right mt-3">
  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-secondary">はい</button>
  </form>
</div>
<ul class="list-group list-group-horizontal justify-content-end mt-3">
  <a href="{% url 'janken:response_list' %}" class="list-group-item">My Responses</a>
</ul>

{% endblock content %}